{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-4">
            <div class="card shadow rounded-3 text-center sticky-top" style="width: 18rem;">
               
                <div class="card-body">
                  <h5 class="card-title"> {{user.username}} </h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{user.first_name}}  {{user.last_name}}</li>
                    <li class="list-group-item"> {{user.email}} </li>
                    
                  </ul>
                  <div class="card-body">
                    <a href="{% url 'edit_profile' user.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'change_pass' %}" class="btn btn-danger">Password Change</a>
                  </div>
              </div>
        </div>
        <div class="col-8">
            <h3>Tota Purchased : {{count}} </h3>
            {% for pd in products %}
            <div class="card mb-3 mt-2 shadow rounded-3" style="max-width: 720px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{pd.product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    
                    <div class="card-body">
                      <h3 class="card-title">Model :{{pd.product.name}}</h3>
                      <h5 class="card-title">Price : {{pd.product.price}}</h5>
                      <h6 class="card-title">Brand : {{pd.product.brand}}</h6>
                      <p><strong>Description :</strong> {{pd.product.description}} </p>
                      <p class="card-text"><strong>Purchased At :</strong> <small class="text-body-secondary">{{pd.purchased_at}} </small></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}